* {
  font-family: 'Roboto', sans-serif;
}

#authentication {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

#authentication>div {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#authentication>div:first-child {
  background-color: #73d0b9;
}

#authentication>div:nth-child(2) {
  background-color: rgb(240, 240, 240);
}

#authentication form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.error {
  margin-bottom: 15px;
  color: rgb(200, 0, 0);
  font-size: 14px;
}

#authentication input {
  border-radius: 10px;
  border: none;
  padding: 5px 10px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.1);
  margin: 5px 0px;
  transition: all 0.1s ease-in;
  text-align: center;
  font-size: 20px;
  color: #73d0b9;
}

#authentication input:focus {
  outline: solid 1px #73d0b9;
}

#authentication input:hover {
  box-shadow: 0px 0px 10px rgba(74, 38, 106, 0.4);
  transition: all 0.1s ease-in;
}

#authentication label {
  font-size: 20px;
  font-weight: bold;
  color: #73d0b9;
}

#authentication button {
  background-color: #73d0b9;
  color: white;
  outline: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0px;
  border-radius: 15px;
  width: 70%;
  align-self: center;
}

#authentication h4 {
  font-weight: normal;
  font-size: 14px;
  margin-top: 10px;
}

#authentication h4 span {
  color: #73d0b9 !important;
  font-weight: bold;
}

#layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#layout nav img {
  cursor: pointer;
  height: 50px;
  object-fit: contain;
  padding-right: 30px;
  border-right: solid #73d0b9 2px;
  margin-right: 15px;
}

#layout nav {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  padding: 10px 20px;
  background-color: black;
}

#layout nav a {
  color: #73d0b9;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.1s ease-in;
}

#layout nav a:hover {
  color: white;
  transition: all 0.1s ease-in;
}

#create {
  background-color: #73d0b9;
  color: white;
  font-weight: bold;
  transform: scale(1);
  transition: all 0.1s ease-in;
  margin-left: auto;
  text-transform: none;
}

#create:hover {
  transform: scale(1.05);
  transition: all 0.1s ease-in;
}